{"swagger":"2.0","info":{"description":"A RESTful API service for accessing NOMIS data sets.\n\nAll times sent to the API should be sent in local time without the timezone e.g. YYYY-MM-DDTHH:MM:SS.  All times returned in responses will be in Europe / London local time unless otherwise stated.","version":"2020-07-30.3431.21a888c","title":"HMPPS Prison API Documentation","termsOfService":"https://sign-in.hmpps.service.justice.gov.uk/auth/terms","contact":{"name":"HMPPS Digital Studio","email":"feedback@digital.justice.gov.uk"},"license":{"name":"Open Government Licence v3.0","url":"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"}},"host":"api.prison.service.justice.gov.uk","basePath":"/","tags":[{"name":"/access-roles","description":"Access Role Resource Impl"},{"name":"/agencies","description":"Agency Resource Impl"},{"name":"/appointments","description":"Appointments Resource Impl"},{"name":"/bookings","description":"Booking Resource Impl"},{"name":"/case-notes","description":"Case Note Resource Impl"},{"name":"/data-compliance","description":"Data Compliance Controller"},{"name":"/events","description":"Offender Events Controller"},{"name":"/identifiers","description":"Identifiers Resource Impl"},{"name":"/images","description":"Images Resource Impl"},{"name":"/incidents","description":"Incidents Resource Impl"},{"name":"/key-worker","description":"Key Worker Resource Impl"},{"name":"/locations","description":"Offender Location information"},{"name":"/movements","description":"Offender Movement Information"},{"name":"/offender-assessments","description":"Offender Assessment Resource Impl"},{"name":"/offender-relationships","description":"Offender Relationship Resource Impl"},{"name":"/offender-sentences","description":"Offender Release Resource Impl"},{"name":"/offenders","description":"Offender Resource Impl"},{"name":"/persons","description":"Person Resource Impl"},{"name":"/prisoners","description":"Prisoner Resource Impl"},{"name":"/questionnaires","description":"Questionnaire Resource Impl"},{"name":"/reference-domains","description":"Reference Domains Resource Impl"},{"name":"/schedules","description":"Schedules Resource Impl"},{"name":"/search-offenders","description":"Finding Offenders by location and keyword - DEPRECATED"},{"name":"/staff","description":"Staff Resource Impl"},{"name":"/users","description":"User Resource Impl"},{"name":"/v1","description":"Nomis Api V 1 Resource Impl"}],"paths":{"/api/access-roles":{"get":{"tags":["/access-roles"],"summary":"List of access roles","description":"List of access roles","operationId":"getAccessRoles","produces":["*/*"],"parameters":[{"name":"includeAdmin","in":"query","description":"Include admin roles","required":true,"type":"boolean","default":false,"allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccessRole"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false},"post":{"tags":["/access-roles"],"summary":"Create new access role.","description":"Create new access role.","operationId":"createAccessRole","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"newAccessRole","description":"newAccessRole","required":true,"schema":{"$ref":"#/definitions/AccessRole"}}],"responses":{"201":{"description":"Created"},"400":{"description":"Invalid request - e.g. role code not provided.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden - user not authorised to create an access role.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Parent access role not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"409":{"description":"A role already exists with the provided role code.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false},"put":{"tags":["/access-roles"],"summary":"Update the access role.","description":"Update the access role.","operationId":"updateAccessRole","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"accessRole","description":"accessRole","required":true,"schema":{"$ref":"#/definitions/AccessRole"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"400":{"description":"Invalid request - e.g. role code not provided.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden - user not authorised to update an access role.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Access role not found.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/agencies":{"get":{"tags":["/agencies"],"summary":"List of active agencies.","description":"List of active agencies.","operationId":"getAgencies","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of agency records returned.","required":false,"type":"integer","default":10,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of agency records.","required":false,"type":"integer","default":0,"format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agency"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/caseload/{caseload}":{"get":{"tags":["/agencies"],"summary":"List of agencies for caseload.","description":"List of agencies for caseload.","operationId":"getAgenciesByCaseload","produces":["*/*"],"parameters":[{"name":"caseload","in":"path","description":"caseload","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agency"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/prison":{"get":{"tags":["/agencies"],"summary":"List of prison contact details.","description":"List of prison contact details.","operationId":"getPrisonContactDetailList","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrisonContactDetail"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/prison/{agencyId}":{"get":{"tags":["/agencies"],"summary":"Prison contact detail.","description":"Prison contact detail.","operationId":"getPrisonContactDetail","produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PrisonContactDetail"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/agencies/type/{type}":{"get":{"tags":["/agencies"],"summary":"List of agencies by type","description":"List of active agencies by type","operationId":"getAgenciesByTypeUsingGET","produces":["*/*"],"parameters":[{"name":"activeOnly","in":"query","description":"Only return active agencies","required":false,"type":"boolean","default":true,"allowEmptyValue":false},{"name":"type","in":"path","description":"Agency Type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Agency"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}":{"get":{"tags":["/agencies"],"summary":"Agency detail.","description":"Agency detail.","operationId":"getAgency","produces":["*/*"],"parameters":[{"name":"activeOnly","in":"query","description":"Only return active agencies","required":false,"type":"boolean","default":true,"allowEmptyValue":false},{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"},{"name":"agencyType","in":"query","description":"Agency Type","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Agency"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/agencies/{agencyId}/cellsWithCapacity":{"get":{"tags":["/agencies"],"summary":"List of active cells with capacity for agency.","description":"List of active cells with capacity for agency.","operationId":"getAgencyActiveCellsWithCapacity","produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"},{"name":"attribute","in":"query","description":"Restricts list of cells returned to those that have a specified attribute.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OffenderCell"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}/eventLocations":{"get":{"tags":["/agencies"],"summary":"List of locations for agency where events (appointments, visits, activities) could be held.","description":"List of locations for agency where events (appointments, visits, activities) could be held.","operationId":"getAgencyEventLocations","produces":["*/*"],"parameters":[{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>description, userDescription</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}/eventLocationsBooked":{"get":{"tags":["/agencies"],"summary":"List of locations for agency where events (appointments, visits, activities) are being held.","description":"List of locations for agency where events (appointments, visits, activities) are being held.","operationId":"getAgencyEventLocationsBooked","produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"},{"name":"bookedOnDay","in":"query","description":"Filter list to only return locations which prisoners will be attending on this day","required":true,"type":"string","format":"date","allowEmptyValue":false},{"name":"timeSlot","in":"query","description":"Only return locations which prisoners will be attending in this time slot (AM, PM or ED, and bookedOnDay must be specified)","required":false,"type":"string","allowEmptyValue":false,"enum":["AM","PM","ED"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}/iepLevels":{"get":{"tags":["/agencies"],"summary":"List of active IEP levels for agency.","description":"List of active IEP levels for agency.","operationId":"getAgencyIepLevels","produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IepLevel"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}/iepReview":{"get":{"tags":["/agencies"],"summary":"Per offender information necessary for IEP review.","description":"IEP review information","operationId":"getPrisonIepReview","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of offenders returned.","required":false,"type":"integer","default":20,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned offenders.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"},{"name":"iepLevel","in":"query","description":"IEP level to filter by.","required":false,"type":"string","allowEmptyValue":false},{"name":"location","in":"query","description":"Offender location to filter by.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OffenderIepReview"}}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/agencies/{agencyId}/locations":{"get":{"tags":["/agencies"],"summary":"List of active internal locations for agency.","description":"List of active internal locations for agency.","operationId":"getAgencyLocations","produces":["*/*"],"parameters":[{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>description, userDescription</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"agencyId","in":"path","description":"agencyId","required":true,"type":"string"},{"name":"eventType","in":"query","description":"Restricts list of locations returned to those that can be used for the specified event type.","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}/locations/groups":{"get":{"tags":["/agencies"],"summary":"List of all available Location Groups at agency.","description":"List of all available Location Groups at agency.","operationId":"getAvailableLocationGroups","produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"The prison","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LocationGroup"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/agencies/{agencyId}/locations/type/{type}":{"get":{"tags":["/agencies"],"summary":"List of active internal locations for agency by type.","description":"List of active internal locations for agency by type.","operationId":"getAgencyLocationsByType","produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"The prison","required":true,"type":"string"},{"name":"type","in":"path","description":"Restricts list of locations returned to those of the passed type.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Location"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/appointments":{"post":{"tags":["/appointments"],"summary":"Create multiple appointments","description":"Create multiple appointments","operationId":"createAppointments","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"createAppointmentsRequest","description":"createAppointmentsRequest","required":true,"schema":{"$ref":"#/definitions/AppointmentsToCreate"}}],"responses":{"200":{"description":"The appointments have been created."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings":{"get":{"tags":["/bookings"],"summary":"Summary information for all offenders accessible to current user.","description":"Summary information for all offenders accessible to current user.","operationId":"getOffenderBookings","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of booking records returned.","required":false,"type":"integer","default":10,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of booking records.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>bookingNo, bookingId, offenderNo, firstName, lastName, agencyId, assignedLivingUnitId</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"query","description":"The booking ids of offender","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"iepLevel","in":"query","description":"return IEP level data","required":false,"type":"boolean","default":false,"allowEmptyValue":false},{"name":"offenderNo","in":"query","description":"The required offender numbers","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"query","in":"query","description":"Search parameters with the format [connector]:&lt;fieldName&gt;:&lt;operator&gt;:&lt;value&gt;:[format],... <p>Connector operators - and, or <p>Supported Operators - eq, neq, gt, gteq, lt, lteq, like, in</p> <p>Supported Fields - bookingNo, bookingId, offenderNo, firstName, lastName, agencyId, assignedLivingUnitId, assignedOfficerUserId</p> ","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Summary information for all offenders accessible to current user.","schema":{"type":"array","items":{"$ref":"#/definitions/OffenderBooking"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false},"post":{"tags":["/bookings"],"summary":"Create booking for offender (additionally creating offender record if one does not already exist).","description":"<b>(BETA)</b> Create booking for offender (additionally creating offender record if one does not already exist).","operationId":"createOffenderBooking","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"newBooking","description":"Details required to enable creation of new offender booking (and offender, if necessary).","required":true,"schema":{"$ref":"#/definitions/NewBooking"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OffenderSummary"}},"201":{"description":"Offender booking created.","schema":{"$ref":"#/definitions/OffenderSummary"}},"204":{"description":"Request in progress.","schema":{"$ref":"#/definitions/OffenderSummary"}},"400":{"description":"Request to create offender booking failed. Consult response for reason.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"User not authorised to create offender booking.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Not Found"},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false},"put":{"tags":["/bookings"],"summary":"Process recall for offender.","description":"<b>(BETA)</b> Process recall for offender.","operationId":"recallOffenderBooking","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"recallBooking","description":"Details required to enable recall of offender.","required":true,"schema":{"$ref":"#/definitions/RecallBooking"}}],"responses":{"200":{"description":"Offender successfully recalled.","schema":{"$ref":"#/definitions/OffenderSummary"}},"201":{"description":"Created"},"400":{"description":"Request to recall offender failed. Consult response for reason.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings/activities/attendance":{"put":{"tags":["/bookings"],"summary":"Update attendance and pay for multiple bookings.","description":"Update offender attendance and pay.","operationId":"updateAttendance_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/UpdateAttendanceBatch"}}],"responses":{"201":{"description":"Attendance data has been updated"},"400":{"description":"Invalid request - e.g. validation error.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden - user not authorised to attend activity.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Resource not found - booking or event does not exist or is not accessible to user.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal server error.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/mainOffence":{"post":{"tags":["/bookings"],"summary":"Get Offender main offence detail.","description":"Post version to allow specifying a large number of bookingIds.","operationId":"getMainOffenceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"bookingIds","description":"The bookingIds to identify the offenders","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OffenceDetail"}}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/offenderNo/alerts":{"post":{"tags":["/bookings"],"summary":"Get alerts for a list of offenders. Requires SYSTEM_READ_ONLY role","operationId":"getAlertsByOffenderNosUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"offenderNos","description":"The required offender numbers (mandatory)","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alert"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings/offenderNo/personal-care-needs":{"post":{"tags":["/bookings"],"summary":"Personal Care Needs  - POST version to allow for large numbers of offenders","description":"Personal Care Needs","operationId":"getPersonalCareNeeds","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"offenderNos","description":"The required offender numbers (mandatory)","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"a list of types and optionally subtypes (joined with +) to search.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PersonalCareNeeds"}}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/offenderNo/{agencyId}/alerts":{"post":{"tags":["/bookings"],"summary":"Get alerts for a list of offenders at a prison","operationId":"getAlertsByOffenderNosAtAgencyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"The prison where the offenders are booked","required":true,"type":"string"},{"in":"body","name":"offenderNos","description":"The required offender numbers (mandatory)","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alert"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}":{"get":{"tags":["/bookings"],"summary":"Offender detail.","description":"Offender detail.","operationId":"getOffenderBookingByOffenderNo","produces":["*/*"],"parameters":[{"name":"extraInfo","in":"query","description":"Only used when fullInfo=true, returns identifiers,offences,aliases,sentence dates,convicted status","required":false,"type":"boolean","default":false,"allowEmptyValue":false},{"name":"fullInfo","in":"query","description":"If set to true then full data is returned","required":false,"type":"boolean","default":false,"allowEmptyValue":false},{"name":"offenderNo","in":"path","description":"The offenderNo of offender","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InmateDetail"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/activities/{activityId}/attendance":{"put":{"tags":["/bookings"],"summary":"updateAttendance","operationId":"updateAttendanceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"activityId","in":"path","description":"The activity id","required":true,"type":"integer","format":"int64","x-example":1212131},{"name":"offenderNo","in":"path","description":"The offenderNo of the prisoner","required":true,"type":"string","x-example":"A1234AA"},{"in":"body","name":"updateAttendance","description":"updateAttendance","required":true,"schema":{"$ref":"#/definitions/UpdateAttendance"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Attendance data has been updated"},"400":{"description":"Invalid request - e.g. validation error.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden - user not authorised to attend activity.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Resource not found - booking or event does not exist or is not accessible to user.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal server error.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/caseNotes":{"post":{"tags":["/bookings"],"summary":"Create case note for offender.","description":"Create case note for offender.","operationId":"createOffenderCaseNote","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/NewCaseNote"}},{"name":"offenderNo","in":"path","description":"The offenderNo of offender","required":true,"type":"string"}],"responses":{"201":{"description":"The Case Note has been recorded. The updated object is returned including the status.","schema":{"$ref":"#/definitions/CaseNote"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"The case note has already been recorded under the booking. The current unmodified object (including status) is returned.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/image/data":{"get":{"tags":["/bookings"],"summary":"Image data (as bytes).","description":"Image data (as bytes).","operationId":"getMainBookingImageDataByNo","produces":["image/jpeg"],"parameters":[{"name":"fullSizeImage","in":"query","description":"Return full size image","required":false,"type":"boolean","default":false,"allowEmptyValue":false},{"name":"offenderNo","in":"path","description":"The offender No of offender","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found."},"500":{"description":"Unrecoverable error occurred whilst processing request."}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/key-worker":{"get":{"tags":["/bookings"],"summary":"Key worker details.","description":"Key worker details. This should not be used - call keywork API instead","operationId":"getKeyworkerByOffenderNoUsingGET","produces":["*/*"],"parameters":[{"name":"offenderNo","in":"path","description":"The offenderNo of offender","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Keyworker"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/offenceHistory":{"get":{"tags":["/bookings"],"summary":"Offence history.","description":"All Offences recorded for this offender.","operationId":"getOffenceHistory","produces":["*/*"],"parameters":[{"name":"convictionsOnly","in":"query","description":"include offences with convictions only","required":false,"type":"boolean","default":true,"allowEmptyValue":false},{"name":"offenderNo","in":"path","description":"The offender number","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OffenceHistoryDetail"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/relationships":{"get":{"tags":["/bookings"],"summary":"The contact details and their relationship to the offender","description":"The contact details and their relationship to the offender","operationId":"getRelationshipsByOffenderNo","produces":["*/*"],"parameters":[{"name":"offenderNo","in":"path","description":"The offender Offender No","required":true,"type":"string"},{"name":"relationshipType","in":"query","description":"filter by the relationship type","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Contact"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false},"post":{"tags":["/bookings"],"summary":"Create a relationship with an offender","description":"Create a relationship with an offender","operationId":"createRelationshipByOffenderNo","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"offenderNo","in":"path","description":"The offender Offender No","required":true,"type":"string"},{"in":"body","name":"relationshipDetail","description":"The person details and their relationship to the offender","required":true,"schema":{"$ref":"#/definitions/OffenderRelationship"}}],"responses":{"201":{"description":"If successful the Contact object is returned.","schema":{"$ref":"#/definitions/Contact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings/offenderNo/{offenderNo}/visit/balances":{"get":{"tags":["/bookings"],"summary":"Balances visit orders and privilege visit orders for offender.","description":"Balances visit orders and privilege visit orders for offender.","operationId":"getBookingVisitsBalances","produces":["*/*"],"parameters":[{"name":"offenderNo","in":"path","description":"The offenderNo of offender","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VisitBalances"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenders":{"post":{"tags":["/bookings"],"summary":"Offender detail.","description":"Offender detail for offenders","operationId":"getBasicInmateDetailsForOffenders","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"activeOnly","in":"query","description":"Returns only Offender details with an active booking if true, otherwise Offenders without an active booking are included","required":false,"type":"boolean","default":true,"allowEmptyValue":false},{"in":"body","name":"offenders","description":"The offenderNo of offender","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InmateBasicDetails"}}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenders/iepSummary":{"get":{"tags":["/bookings"],"summary":"Offenders IEP (Incentives & Earned Privileges) summary.","description":"Offenders IEP (Incentives & Earned Privileges) summary.","operationId":"getBookingIEPSummaryForOffenders","produces":["*/*"],"parameters":[{"name":"bookings","in":"query","description":"The booking ids of offender","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"withDetails","in":"query","description":"Toggle to return IEP detail entries in response (or not).","required":true,"type":"boolean","default":false,"allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PrivilegeSummary"}}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/offenders/{agencyId}/list":{"post":{"tags":["/bookings"],"summary":"Basic offender details by booking ids - POST version to allow for large numbers","description":"Basic offender details by booking ids","operationId":"getBasicInmateDetailsForOffendersByBookingIds","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"agencyId","in":"path","description":"The prison where the offenders are booked - the response is restricted to bookings at this prison","required":true,"type":"string"},{"in":"body","name":"bookingIds","description":"The bookingIds to identify the offenders","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InmateBasicDetails"}}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}":{"get":{"tags":["/bookings"],"summary":"Offender detail.","description":"Offender detail.","operationId":"getOffenderBooking","produces":["*/*"],"parameters":[{"name":"basicInfo","in":"query","description":"If set to true then only basic data is returned","required":false,"type":"boolean","default":false,"allowEmptyValue":false},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"extraInfo","in":"query","description":"Only used when requesting more than basic data, returns identifiers,offences,aliases,sentence dates,convicted status","required":false,"type":"boolean","default":false,"allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InmateDetail"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/activities":{"get":{"tags":["/bookings"],"summary":"All scheduled activities for offender.","description":"All scheduled activities for offender.","operationId":"getBookingActivities","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of activity records returned.","required":false,"type":"integer","default":10,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of activity records.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>eventDate, startTime, endTime, eventLocation</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"name":"fromDate","in":"query","description":"Returned activities must be scheduled on or after this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"toDate","in":"query","description":"Returned activities must be scheduled on or before this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/activities/today":{"get":{"tags":["/bookings"],"summary":"Today's scheduled activities for offender.","description":"Today's scheduled activities for offender.","operationId":"getBookingActivitiesForToday","produces":["*/*"],"parameters":[{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>eventDate, startTime, endTime, eventLocation</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/activities/{activityId}/attendance":{"put":{"tags":["/bookings"],"summary":"Update offender attendance and pay.","description":"Update offender attendance and pay.","operationId":"updateAttendance","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"activityId","in":"path","description":"The activity id","required":true,"type":"integer","format":"int64","x-example":1212131},{"name":"bookingId","in":"path","description":"The booking Id of the prisoner","required":true,"type":"integer","format":"int64","x-example":213531},{"in":"body","name":"updateAttendance","description":"updateAttendance","required":true,"schema":{"$ref":"#/definitions/UpdateAttendance"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Attendance data has been updated"},"400":{"description":"Invalid request - e.g. validation error.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden - user not authorised to attend activity.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Resource not found - booking or event does not exist or is not accessible to user.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal server error.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/adjudications":{"get":{"tags":["/bookings"],"summary":"Offender adjudications summary (awards and sanctions).","description":"Offender adjudications (awards and sanctions).","operationId":"getAdjudicationSummary","produces":["*/*"],"parameters":[{"name":"adjudicationCutoffDate","in":"query","description":"Only proved adjudications ending on or after this date (in YYYY-MM-DD format) will be counted.","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"awardCutoffDate","in":"query","description":"Only awards ending on or after this date (in YYYY-MM-DD format) will be considered.","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdjudicationSummary"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/alert":{"post":{"tags":["/bookings"],"summary":"Create an alert","operationId":"postAlertUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"alert","description":"Alert details","required":true,"schema":{"$ref":"#/definitions/CreateAlert"}},{"name":"bookingId","in":"path","description":"bookingId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertCreated"}},"201":{"description":"Alert id.","schema":{"$ref":"#/definitions/AlertCreated"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/alert/{alertSeq}":{"put":{"tags":["/bookings"],"summary":"Update an alert","operationId":"updateAlertUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"alert","description":"Alert details","required":true,"schema":{"$ref":"#/definitions/AlertChanges"}},{"name":"alertSeq","in":"path","description":"alertSeq","required":true,"type":"integer","format":"int64"},{"name":"bookingId","in":"path","description":"bookingId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Alert"}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/alerts":{"get":{"tags":["/bookings"],"summary":"Offender alerts.","description":"Offender alerts.","operationId":"getOffenderAlerts","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of alert records returned.","required":false,"type":"integer","default":10,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of alert records.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>alertType, alertCode, dateCreated, dateExpires</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"query","in":"query","description":"Search parameters with the format [connector]:&lt;fieldName&gt;:&lt;operator&gt;:&lt;value&gt;:[format],... <p>Connector operators - and, or <p>Supported Operators - eq, neq, gt, gteq, lt, lteq, like, in</p> <p>Supported Fields - alertType, alertCode, dateCreated, dateExpires</p> ","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alert"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/alerts/{alertId}":{"get":{"tags":["/bookings"],"summary":"Offender alert detail.","description":"Offender alert detail.","operationId":"getOffenderAlert","produces":["*/*"],"parameters":[{"name":"alertId","in":"path","description":"The Alert Id","required":true,"type":"integer","format":"int64"},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Alert"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/aliases":{"get":{"tags":["/bookings"],"summary":"Offender aliases.","description":"Offender aliases.","operationId":"getOffenderAliases","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of alias records returned.","required":false,"type":"integer","default":5,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of alias records.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>firstName, lastName, age, dob, middleName, nameType, createDate</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alias"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/appointments":{"get":{"tags":["/bookings"],"summary":"All scheduled appointments for offender.","description":"All scheduled appointments for offender.","operationId":"getBookingsBookingIdAppointments","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of appointment records returned.","required":false,"type":"integer","default":10,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of appointment records.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>eventDate, startTime, endTime, eventLocation</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"name":"fromDate","in":"query","description":"Returned appointments must be scheduled on or after this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"toDate","in":"query","description":"Returned appointments must be scheduled on or before this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["/bookings"],"summary":"Create appointment for offender.","description":"Create appointment for offender.","operationId":"postBookingsBookingIdAppointments","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"newAppointment","description":"newAppointment","required":true,"schema":{"$ref":"#/definitions/NewAppointment"}}],"responses":{"201":{"description":"The appointment has been recorded. The updated object is returned including the status.","schema":{"$ref":"#/definitions/ScheduledEvent"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings/{bookingId}/appointments/nextWeek":{"get":{"tags":["/bookings"],"summary":"Scheduled appointments for offender for following week.","description":"Scheduled appointments for offender for following week.","operationId":"getBookingAppointmentsForNextWeek","produces":["*/*"],"parameters":[{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>eventDate, startTime, endTime, eventLocation</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/appointments/thisWeek":{"get":{"tags":["/bookings"],"summary":"Scheduled appointments for offender for coming week (from current day).","description":"Scheduled appointments for offender for coming week (from current day).","operationId":"getBookingAppointmentsForThisWeek","produces":["*/*"],"parameters":[{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>eventDate, startTime, endTime, eventLocation</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/appointments/today":{"get":{"tags":["/bookings"],"summary":"Today's scheduled appointments for offender.","description":"Today's scheduled appointments for offender.","operationId":"getBookingAppointmentsForToday","produces":["*/*"],"parameters":[{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>eventDate, startTime, endTime, eventLocation</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/assessment/{assessmentCode}":{"get":{"tags":["/bookings"],"summary":"Offender assessment detail.","description":"Offender assessment detail.","operationId":"getAssessmentByCode","produces":["*/*"],"parameters":[{"name":"assessmentCode","in":"path","description":"Assessment Type Code","required":true,"type":"string"},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Assessment"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/assessments":{"get":{"tags":["/bookings"],"summary":"Assessment Information","description":"Assessment Information","operationId":"getAssessments","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Assessment"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/balances":{"get":{"tags":["/bookings"],"summary":"Offender account balances.","description":"Offender account balances.","operationId":"getBalances","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/caseNotes":{"get":{"tags":["/bookings"],"summary":"Offender case notes.","description":"Offender case notes.","operationId":"getOffenderCaseNotes","produces":["*/*"],"parameters":[{"name":"Page-Limit","in":"header","description":"Requested limit to number of caseNote records returned.","required":false,"type":"integer","default":10,"format":"int64"},{"name":"Page-Offset","in":"header","description":"Requested offset of first record in returned collection of caseNote records.","required":false,"type":"integer","default":0,"format":"int64"},{"name":"Sort-Fields","in":"header","description":"Comma separated list of one or more of the following fields - <b>creationDateTime, type, subType, source</b>","required":false,"type":"string"},{"name":"Sort-Order","in":"header","description":"Sort order (ASC or DESC) - defaults to ASC.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"from","in":"query","description":"start contact date to search from","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"query","in":"query","description":"Search parameters with the format [connector]:&lt;fieldName&gt;:&lt;operator&gt;:&lt;value&gt;:[format],... <p>Connector operators - and, or <p>Supported Operators - eq, neq, gt, gteq, lt, lteq, like, in</p> <p>Supported Fields - creationDateTime, type, subType, source</p> ","required":true,"type":"string","allowEmptyValue":false},{"name":"to","in":"query","description":"end contact date to search up to (including this date)","required":false,"type":"string","format":"date","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CaseNote"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["/bookings"],"summary":"Create case note for offender.","description":"Create case note for offender.","operationId":"createBookingCaseNote","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/NewCaseNote"}},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"}],"responses":{"201":{"description":"The Case Note has been recorded. The updated object is returned including the status.","schema":{"$ref":"#/definitions/CaseNote"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"The case note has already been recorded under the booking. The current unmodified object (including status) is returned.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/caseNotes/{caseNoteId}":{"get":{"tags":["/bookings"],"summary":"Offender case note detail.","description":"Offender case note detail.","operationId":"getOffenderCaseNote","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"caseNoteId","in":"path","description":"The case note id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CaseNote"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["/bookings"],"summary":"Amend offender case note.","description":"Amend offender case note.","operationId":"updateOffenderCaseNote","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"$ref":"#/definitions/UpdateCaseNote"}},{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64","x-example":1231212},{"name":"caseNoteId","in":"path","description":"The case note id","required":true,"type":"integer","format":"int64","x-example":1212134}],"responses":{"201":{"description":"Case Note amendment processed successfully. Updated case note is returned.","schema":{"$ref":"#/definitions/CaseNote"}},"400":{"description":"Invalid request - e.g. amendment text not provided.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden - user not authorised to amend case note.","schema":{"$ref":"#/definitions/ErrorResponse"}},"404":{"description":"Resource not found - booking or case note does not exist or is not accessible to user.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Internal server error.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/caseNotes/{type}/{subType}/count":{"get":{"tags":["/bookings"],"summary":"Count of case notes","description":"Count of case notes","operationId":"getCaseNoteCount","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"name":"fromDate","in":"query","description":"Only case notes occurring on or after this date (in YYYY-MM-DD format) will be considered.","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"subType","in":"path","description":"Case note sub-type.","required":true,"type":"string"},{"name":"toDate","in":"query","description":"Only case notes occurring on or before this date (in YYYY-MM-DD format) will be considered.","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"type","in":"path","description":"Case note type.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CaseNoteCount"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/contacts":{"get":{"tags":["/bookings"],"summary":"Offender contacts (e.g. next of kin).","description":"Offender contacts (e.g. next of kin).","operationId":"getContacts","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactDetail"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/court-cases":{"get":{"tags":["/bookings"],"summary":"Court Cases","description":"Court Cases","operationId":"getCourtCases","produces":["*/*"],"parameters":[{"name":"activeOnly","in":"query","description":"Only return active court cases","required":false,"type":"boolean","default":true,"allowEmptyValue":false},{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CourtCase"}}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/court-cases/{courtCaseId}/prison-to-court-hearings":{"post":{"tags":["/bookings"],"summary":"Schedules a prison to court hearing for an offender and given court case.","description":"Schedules a prison to court hearing for an offender and given court case.","operationId":"prisonToCourt","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking to associate the court hearing with.","required":true,"type":"integer","format":"int64"},{"name":"courtCaseId","in":"path","description":"The court case to associate the hearing with.","required":true,"type":"integer","format":"int64"},{"in":"body","name":"hearing","description":"The prison to court hearing to be scheduled for the offender booking.","required":true,"schema":{"$ref":"#/definitions/PrisonToCourtHearing"}}],"responses":{"201":{"description":"Court hearing created.","schema":{"$ref":"#/definitions/CourtHearing"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/court-hearings":{"get":{"tags":["/bookings"],"summary":"getCourtHearings","operationId":"getCourtHearingsUsingGET","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking linked to the court hearings.","required":true,"type":"integer","format":"int64"},{"name":"fromDate","in":"query","description":"Return court hearings on or after this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"toDate","in":"query","description":"Return court hearings on or before this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CourtHearings"}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/court-hearings/{hearingId}/cancel":{"delete":{"tags":["/bookings"],"summary":"Cancels the scheduled court hearing for an offender.","description":"Cancels the scheduled court hearing for an offender.","operationId":"cancelCourtHearing","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking to linked to the scheduled event.","required":true,"type":"integer","format":"int64"},{"name":"hearingId","in":"path","description":"The identifier of the scheduled event to be cancelled.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/court-hearings/{hearingId}/hearing-date":{"put":{"tags":["/bookings"],"summary":"Amends the scheduled court hearing date and/or time for an offender.","description":"Amends the scheduled court hearing date and/or time for an offender.","operationId":"courtHearingDateAmendment","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"amendment","description":"The amendments for the scheduled court hearing.","required":true,"schema":{"$ref":"#/definitions/CourtHearingDateAmendment"}},{"name":"bookingId","in":"path","description":"The offender booking to associate the update with.","required":true,"type":"integer","format":"int64"},{"name":"hearingId","in":"path","description":"The  court hearing to be updated.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CourtHearing"}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/events":{"get":{"tags":["/bookings"],"summary":"All scheduled events for offender.","description":"All scheduled events for offender.","operationId":"getEvents","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"name":"fromDate","in":"query","description":"Returned events must be scheduled on or after this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false},{"name":"toDate","in":"query","description":"Returned events must be scheduled on or before this date (in YYYY-MM-DD format).","required":false,"type":"string","format":"date","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/events/nextWeek":{"get":{"tags":["/bookings"],"summary":"Scheduled events for offender for following week.","description":"Scheduled events for offender for following week.","operationId":"getEventsNextWeek","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/events/thisWeek":{"get":{"tags":["/bookings"],"summary":"Scheduled events for offender for coming week (from current day).","description":"Scheduled events for offender for coming week (from current day).","operationId":"getEventsThisWeek","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/events/today":{"get":{"tags":["/bookings"],"summary":"Today's scheduled events for offender.","description":"Today's scheduled events for offender.","operationId":"getEventsToday","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduledEvent"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/identifiers":{"get":{"tags":["/bookings"],"summary":"Identifiers for this booking","description":"Identifiers for this booking","operationId":"getOffenderIdentifiers","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"name":"type","in":"query","description":"Filter By Type","required":false,"type":"string","allowEmptyValue":false,"x-example":"PNC"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OffenderIdentifier"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/iepLevels":{"post":{"tags":["/bookings"],"summary":"Add a new IEP (Incentives & Earned Privileges) level to an offender's booking.","operationId":"addIepLevelUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The booking id of the offender","required":true,"type":"integer","format":"int64"},{"in":"body","name":"iepLevel","description":"The new IEP Level and accompanying comment (reason for change).","required":true,"schema":{"$ref":"#/definitions/IepLevelAndComment"}}],"responses":{"201":{"description":"Created"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/bookings/{bookingId}/iepSummary":{"get":{"tags":["/bookings"],"summary":"Offender IEP (Incentives & Earned Privileges) summary.","description":"Offender IEP (Incentives & Earned Privileges) summary.","operationId":"getBookingIEPSummary","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"withDetails","in":"query","description":"Toggle to return IEP detail entries in response (or not).","required":true,"type":"boolean","default":false,"allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PrivilegeSummary"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/image":{"get":{"tags":["/bookings"],"summary":"Image detail (without image data).","description":"Image detail (without image data).","operationId":"getMainImageForBookings","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImageDetail"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/image/data":{"get":{"tags":["/bookings"],"summary":"Image data (as bytes).","description":"Image data (as bytes).","operationId":"getMainBookingImageData","produces":["image/jpeg"],"parameters":[{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"fullSizeImage","in":"query","description":"Return full size image","required":false,"type":"boolean","default":false,"allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found."},"500":{"description":"Unrecoverable error occurred whilst processing request."}},"deprecated":false}},"/api/bookings/{bookingId}/incidents":{"get":{"tags":["/bookings"],"summary":"Return a set Incidents for a given booking Id","description":"Can be filtered by participation type and incident type","operationId":"getIncidentsByBookingIdUsingGET","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"bookingId","required":true,"type":"integer","format":"int64"},{"name":"incidentType","in":"query","description":"incidentType","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"participationRoles","in":"query","description":"participationRoles","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false,"enum":["ACTINV","ASSIAL","FIGHT","IMPED","PERP","SUSASS","SUSINV","VICT","AI","PAS","AO"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IncidentCase"}}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/living-unit/{internalLocationDescription}":{"put":{"tags":["/bookings"],"summary":"moveToCell","operationId":"moveToCellUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64","x-example":1200866},{"name":"dateTime","in":"query","description":"The date / time of the move (defaults to current)","required":false,"type":"string","format":"date-time","allowEmptyValue":false,"x-example":"2020-03-24T12:13:40"},{"name":"internalLocationDescription","in":"path","description":"The cell location the offender has been moved to","required":true,"type":"string","x-example":"MDI-1-1"},{"name":"reasonCode","in":"query","description":"The reason code for the move (from reason code domain CHG_HOUS_RSN)","required":true,"type":"string","allowEmptyValue":false,"x-example":"ADM"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OffenderBooking"}},"201":{"description":"Created"},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/mainOffence":{"get":{"tags":["/bookings"],"summary":"Get Offender main offence detail.","description":"Offender main offence detail.","operationId":"getMainOffenceUsingGET","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OffenceDetail"}}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/military-records":{"get":{"tags":["/bookings"],"summary":"Military Records","description":"Military Records","operationId":"getMilitaryRecords","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MilitaryRecords"}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/movement/{sequenceNumber}":{"get":{"tags":["/bookings"],"summary":"Retrieves a specific movement for a booking","description":"Must booking in user caseload or have system privilege","operationId":"getMovementByBookingIdAndSequenceUsingGET","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The booking id of offender","required":true,"type":"integer","format":"int64"},{"name":"sequenceNumber","in":"path","description":"The sequence Number of the movement","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Movement"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/non-association-details":{"get":{"tags":["/bookings"],"summary":"Gets the offender non-association details for a given booking","description":"Get offender non-association details","operationId":"getNonAssociationDetails","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OffenderNonAssociationDetails"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/personal-care-needs":{"get":{"tags":["/bookings"],"summary":"Personal Care Needs","description":"Personal Care Need","operationId":"getPersonalCareNeeds_1","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"},{"name":"type","in":"query","description":"a list of types and optionally subtypes (joined with +) to search.","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PersonalCareNeeds"}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/physicalAttributes":{"get":{"tags":["/bookings"],"summary":"Offender Physical Attributes.","description":"Offender Physical Attributes.","operationId":"getPhysicalAttributes","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PhysicalAttributes"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"$ref":"#/definitions/ErrorResponse"}}},"deprecated":false}},"/api/bookings/{bookingId}/physicalCharacteristics":{"get":{"tags":["/bookings"],"summary":"Physical Characteristics","description":"Physical Characteristics","operationId":"getPhysicalCharacteristics","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PhysicalCharacteristic"}}},"400":{"description":"Invalid request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Requested resource not found.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}},"500":{"description":"Unrecoverable error occurred whilst processing request.","schema":{"type":"array","items":{"$ref":"#/definitions/ErrorResponse"}}}},"deprecated":false}},"/api/bookings/{bookingId}/physicalMarks":{"get":{"tags":["/bookings"],"summary":"Physical Mark Information","description":"Physical Mark Information","operationId":"getPhysicalMarks","produces":["*/*"],"parameters":[{"name":"bookingId","in":"path","description":"The offender booking id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PhysicalMark"}}},"400":{"description":"Invalid request.","schema":{"type":"
[...]
